[submodule "depends/glulxe"]
	path = depends/glulxe
	url = https://github.com/erkyrath/glulxe.git
[submodule "depends/git/git-1.3.5"]
	path = depends/git/git-1.3.5
	url = https://github.com/MaddTheSane/Git.git
